<div class="row" ng-controller="CategoryCtrl">
    <div class="col-lg-12">
        <h1 class="page-header">Category <i style="cursor:pointer" class="fa fa-plus-circle" data-toggle="modal" data-target="#createCategory"></i></h1>


    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Categories
                <input type="text" class="form-control search-text"
                       id="search" placeholder="Search" ng-model="search" required/>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="even gradeC" ng-repeat="category in categories | filter:search">
                            <td class="cursor-pointer" ng-click="goToProducts(category._id)">{{category.name}}</td>
                            <td>
                                <i class="fa fa-pencil cursor-pointer" ng-click="setCategory(category,true)"></i>
                                <i class="fa fa-archive cursor-pointer" ng-click="setCategory(category,false)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<div id="createCategory" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ng-show="createCategory">Create Category</h4>
                <h4 class="modal-title" ng-show="!createCategory">Update Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                for="name">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="name" placeholder="Name" ng-model="category.name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="description">Description</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control"
                                   id="description" placeholder="Description" ng-model="category.description"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-show="createCategory" ng-click="saveCategory()">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="!createCategory" ng-click="updateCategory()">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Category</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this category {{category.name}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  ng-click="deleteCategory()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>