<div class="container" ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form name="loginForm" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" ng-model="user.email" placeholder="E-mail" name="email"
                                       ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine &&  loginForm.email.$touched}"
                                       type="email" autofocus required />
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-model="user.password" placeholder="Password"
                                       ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine &&  loginForm.password.$touched}"
                                       name="password" type="password"
                                       value="" required />
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button ng-disabled = "loginForm.$invalid" ng-click="loginUser()" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>