<div class="product-list">
    <h2>Products</h2>
    <div class="wrapper">
        <div class="box" ng-repeat=" product in products" ng-click="goToProductDetail(product._id)">
            <img ng-src="data:image/png;base64,{{product.image}}">
            <p>{{product.name}}</p>
        </div>
    </div>
</div>


<ul uib-pagination total-items="pagination.totalItems" items-per-page="itemPerPage" pageSize="1" ng-model="pagination.currentPage" ng-change="getProducts()"></ul>
<ul class="pagination userPointer floatLeft" >
    <li  ng-repeat="itemPerPage in itemPerPages" ng-click="getItemPerPage(itemPerPage,$index)" ng-class="($index == selectedItems) ? 'selectedItemPerPage' : ''">
        <a>{{itemPerPage}}</a>
    </li>
</ul>