<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.category"><i class="fa fa-table fa-fw"></i>Add Category And Products</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.product-list"><i class="fa fa-table fa-fw"></i> Product List</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 
